{{template "pageStart"}}
    <div class="track-page">
        <span class="colL">
            <!--Time Management and Cycle Tracker-->
            <div class="colL-buffer">&nbsp;</div>
            <div class="timer">
                01:00
            </div>
            <button class="colL-button">
                Intake Object
            </button>
            <button class="colL-button">
                Stop Cycle
            </button>
        </span>
        <span class = "colR">&nbsp;</span>
    </div>

{{template "pageEnd"}}